<div class="modal fade" id="eEstudios" tabindex="-1" aria-labelledby="eEstudios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="eEstudios">Panel de edición - Estudios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Selecciona el icono de tu Institución</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
          <div class="mb-3">
            <label for="exampleInputNbIns" class="form-label">Nombre de la Institución</label>
            <input type="email" class="form-control" id="exampleInputNbIns">
          </div>
          <div class="mb-3">
            <label for="exampleInputQeIns" class="form-label">¿De qué es la Institución?</label>
            <input type="email" class="form-control" id="exampleInputQeIns">
          </div>
          <div class="mb-3">
            <label for="exampleInputdsIns" class="form-label">¿Qué aprendiste ahí?</label>
            <input type="email" class="form-control" id="exampleInputdsIns">
          </div>
          <div class="row g-2">
            <div class="col">
              <label for="fecha">Desde...</label>
              <input type="month" name="fecha" id="fecha" class="form-control" value="2019-08">
            </div>
            <div class="col">
              <label for="fecha">Hasta...</label>
              <input type="month" name="fecha" id="fecha" class="form-control" value="2019-08">
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" value="submit">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>