<div class="modal fade" id="EProyecto" tabindex="-1" aria-labelledby="EProyecto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EProyecto">Panel de edición - Proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="formFileSm" class="form-label">Coloca una imagen del proyecto</label>
        <div class="input-group input-group-sm mb-3">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <label for="formFileSm" class="form-label">Nombra el proyecto</label>
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <label for="formFileSm" class="form-label">Describe el proyecto el proyecto</label>
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <label for="formFileSm" class="form-label">Coloca el link del proyecto</label>
        <div class="input-group input-group-sm mb-3">
          <input type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">¿Quieres poner el link de GitHub? Colocalo</label>
        <div class="input-group input-group-sm mb-3">
          <input type="url" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>