button.btn-f.btn-secondary {
    background-color: var(--Acolor);
    border-color: var(--Acolor);
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    border-width: 3px;
}
section {
    margin-block: 9.2rem;
    margin-inline: 5%;
  }