<div class="container d-flex flex-column justify-content-center">
    <div class="Texto-inicio">
        <h3>
          ¡Hola, mundo! Soy
        </h3>
        <h1>
          Pamela Delgado
        </h1>
        <h3 id="bajo-ani">
          Programadora Full-Stack
        </h3>
    </div>
    <div class="row social-buttons justify-content-center">
      <div class="col-2">
        <a href="https://www.facebook.com/agustina.delgado.98" target="_blank">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
      </div>
      <div class="col-2">
          <a href="https://twitter.com/PathepicP"  target="_blank">
            <i class="fa-brands fa-square-twitter" target="_blank"></i>
          </a>
      </div>
      <div class="col-2">
          <a href="https://www.instagram.com/agusp3003/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
      </div>
      <div class="col-2">
          <a href="https://www.linkedin.com/in/pamela-delgado-998aa6262/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
      </div>
      <div class="col-2">
          <a href="https://github.com/AgustinaPD03" target="_blank">
            <i class="fa-brands fa-square-github"></i>
          </a>
      </div>
      <div class="col-2">
        <a href="pame.delgado03@gmail.com">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>