.Sobre-Mi {
    background-size: cover;
    padding: 5vh;
    text-align: center;
}
span.Text-R {
        background: var(--Bcolor);
        padding-inline: 20px;
}
span.Text-R2 {
    background: var(--fondo);
    padding-inline: 20px;
}