<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./../../../assets/APLogo-20-20.png" alt="Logo" width="100" height="35">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#SobreMi">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Dashboard">Panel de Edición</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Portafolio</a>
          </li>
        </ul>
        <a href="Login">
          <button type="button" class="btn"  id="lg-6">
            Login
          </button>
        </a>
        <a href="#">
          <button type="button" class="btn"  id="lg-6">
            Logout
          </button>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Guardar
        </button>
      </div>
    </div>
  </nav>
  <app-modal-guardado></app-modal-guardado>