.navbar {
    background-color: var(--Acolor);
    padding-inline: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed!important;
    z-index: 10;
}
ul.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
    align-self: center;

}
