<section id="Proyectos">
  <a name="Proyectos"></a>
  <h2 class="Linea"><span class="Text-R2">Proyectos</span></h2>
  <div class="Proyectos">
    <ul class="cards-p">
      <li>
        <div class="Card-p">
          <img src="./../../../assets/Proy-port.jpg" class="Card-img" alt="a">
          <div class="card-overlay">
            <div class="card-header">
              <svg class="card-arc" xmlns="http://www.w3.org/2000/svg"><path></path></svg>
              <img class="card-icon" src="./../../../assets/imagen-relleno.jpg" alt="">
              <div class="card-header-text">
                <h3 class="card-title"> Portafolio, Pamela Delgado</h3>
                <span class="card-status">Portafolio personal</span>
              </div>
            </div>
            <p class="card-description">Una descripción</p>
            <div class="icon-red">
              <a class="Icon1" href="#"><i class="fa-brands fa-github fa-xl"></i></a>
              <a class="Icon2" href="#"><i class="fas fa-globe fa-xl"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="Card-p">
          <img src="./../../../assets/Proy-port.jpg" class="Card-img" alt="a">
          <div class="card-overlay">
            <div class="card-header">
              <svg class="card-arc" xmlns="http://www.w3.org/2000/svg"><path></path></svg>
              <img class="card-icon" src="./../../../assets/imagen-relleno.jpg" alt="">
              <div class="card-header-text">
                <h3 class="card-title"> Hola, soy un proyecto</h3>
                <span class="card-status">Tipo de pagina</span>
              </div>
            </div>
            <p class="card-description">Una descripción</p>
            <div class="icon-red">
              <a class="Icon1" href="#"><i class="fa-brands fa-github fa-xl"></i></a>
              <a class="Icon2" href="#"><i class="fas fa-globe fa-xl"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="Card-p">
          <img src="./../../../assets/Proy-port.jpg" class="Card-img" alt="a">
          <div class="card-overlay">
            <div class="card-header">
              <svg class="card-arc" xmlns="http://www.w3.org/2000/svg"><path></path></svg>
              <img class="card-icon" src="./../../../assets/imagen-relleno.jpg" alt="">
              <div class="card-header-text">
                <h3 class="card-title"> Hola, soy un proyecto</h3>
                <span class="card-status">Tipo de pagina</span>
              </div>
            </div>
            <p class="card-description">Una descripción</p>
            <div class="icon-red">
              <a class="Icon1" href="#"><i class="fa-brands fa-github fa-xl"></i></a>
              <a class="Icon2" href="#"><i class="fas fa-globe fa-xl"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>