/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}
:root {
    --Acolor: #9fd6d2;
    --Bcolor: #d0ecea;
    --Ccolor: #fbeec2;
    --Dcolor: #8b7a5e;
    --Extcolor: #332e1d;
    --fondo: #faf6de;
}
h2.Linea {
    position: relative;
    z-index: 1;
}
h2.Linea:before {
    border-top: 5px solid var(--Acolor);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
h2, h4 {
    text-align: center;
    margin: 20px;
}