<div class="Habilidades">
  <h2 class="Linea"><span class="Text-R">Habilidades</span></h2>
  <div class="container-skills">
    <section class="cards">
      <article class="card">
        <div class="Hard-skills">
          <h4>Hard Skills</h4>
          <div class="progress-barr" id="H-S">
            <p id="HS">HTML y CSS</p>
            <div class="progress-bar2">
            <div class="HyC"><span>86%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">Angular</p>
            <div class="progress-bar2">
            <div class="Angular"><span>86%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">JavaScript</p>
            <div class="progress-bar2">
            <div class="JavaScript"><span>86%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">MySQL</p>
            <div class="progress-bar2">
            <div class="MySQL"><span>86%</span></div>
          </div>
          </div>
        </div>
      </article>
      <article class="card">
        <div class="Soft-skills">
          <h4>Soft Skills</h4>
          <div class="progress-barr" id="H-S">
            <p id="HS">Comunicación</p>
            <div class="progress-bar2">
            <div class="Com"><span>75%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">Trabajo en equipo</p>
            <div class="progress-bar2">
            <div class="TeE"><span>65%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">Responsabilidad</p>
            <div class="progress-bar2">
            <div class="Resp"><span>80%</span></div>
          </div>
          </div>
          <div class="progress-barr" id="H-S">
            <p id="HS">Creatividad y diseño</p>
            <div class="progress-bar2">
            <div class="CyD"><span>85%</span></div>
          </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>