<div class="Estudios y experiencias">
  <section class="cards">
    <article class="card">
      <section id="estudios">
        <h4>Estudios</h4>
        <ul class="lista-estudios">
          <li class="estudio">
            <div class="logo-lista">
              <img src="./../../../../assets/Escudo_de_la_Provincia_de_Córdoba.svg.png" alt="Escudo_de_la_Provincia_de_Córdoba" id="Logo-inst">
            </div>
            <div class="informacion-estudio">
              <h3>IPEM n° 8. Manuel Reyes Reyna</h3>
              <p>Estudios secundarios, con orientación a las Ciencias Sociales</p>
              <p>2016/2020</p>
            </div>
          </li>
          <li class="estudio">
            <div class="logo-lista">
              <img src="./../../../../assets/ETM-UNC.jpg" alt="Logo Escuela de Tecnologia Medica" id="Logo-inst">
            </div>
            <div class="informacion-estudio">
              <h3>Escuela de Tecnologia Medica, UNC</h3>
              <p>Licenciatura en producción de Bioimagenes</p>
              <p>2022/actualidad</p>
            </div>
          </li>
          <li class="estudio">
            <div class="logo-lista">
              <img src="./../../../../assets/Digitalizate.jpg" alt="Logo de la Certificación en Seguridad Informática DEF" id="Logo-inst">
            </div>
            <div class="informacion-estudio">
              <h3>Digitalizate</h3>
              <p>Certificación en Marketing Digital y comercio electronico</p>
              <p>2022</p>
            </div>
          </li>
          <li class="estudio">
            <div class="logo-lista">
              <img src="./../../../../assets/arg-programa.png" alt="Logo de la Certificación en Seguridad Informática DEF" id="Logo-inst">
            </div>
            <div class="informacion-estudio">
              <h3>Argentina Programa; #SeProgramar y #YoProgramo</h3>
              <p>Hola</p>
              <p>2022/Actualidad</p>
            </div>
          </li>
        </ul>
      </section>
    </article>
    <article class="card">
      <h4>Experiencias</h4>
      <ul class="lista-experiencia">
        <li class="exp">
          <div class="logo-lista">
            <img src="./../../../../assets/imagen-relleno.jpg" alt="img-random" id="Logo-inst">
          </div>
          <div class="informacion-exp">
            <h3>Nombre del trabajo</h3>
            <p>Puesto</p>
            <p>tiempo que trabajastr</p>
          </div>
        </li>
        <li class="exp">
          <div class="logo-lista">
            <img src="./../../../../assets/imagen-relleno.jpg" alt="img-random" id="Logo-inst">
          </div>
          <div class="informacion-exp">
            <h3>Nombre del trabajo</h3>
            <p>Puesto</p>
            <p>tiempo que trabajastr</p>
          </div>
        </li>
        <li class="exp">
          <div class="logo-lista">
            <img src="./../../../../assets/imagen-relleno.jpg" alt="img-random" id="Logo-inst">
          </div>
          <div class="informacion-exp">
            <h3>Nombre del trabajo</h3>
            <p>Puesto</p>
            <p>tiempo que trabajastr</p>
          </div>
        </li>
        <li class="exp">
          <div class="logo-lista">
            <img src="./../../../../assets/imagen-relleno.jpg" alt="img-random" id="Logo-inst">
          </div>
          <div class="informacion-exp">
            <h3>Nombre del trabajo</h3>
            <p>Puesto</p>
            <p>tiempo que trabajastr</p>
          </div>
        </li>
      </ul>
    </article>
  </section>
</div>