<p>e-inicio works!</p>
<section>
  <div class="row g-3">
    <h1>Edición de la sección inicial</h1>
    <div class="col1">
      <form>
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Tu nombre</label>
          <input type="Name" class="form-control form-control-sm" id="exampleInputName" aria-describedby="NameHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputProf" class="form-label">Tu profesión</label>
          <input type="job" class="form-control form-control-sm" id="exampleInputProf">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">¿Quieres que tu profesión tenga animación?</label>
        </div>
      </form>
      <h4>Redes</h4>
      <label for="inputRed" class="form-label">Facebook</label>
        <input type="url" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
        <label for="inputRed" class="form-label">Twitter</label>
        <input type="url" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
        <label for="inputRed" class="form-label">Instragram</label>
        <input type="url" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
        <label for="inputRed" class="form-label">Linkedin</label>
        <input type="url" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
        <label for="inputRed" class="form-label">Github</label>
        <input type="url" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
        <label for="inputRed" class="form-label">Mail</label>
        <input type="email" id="inputRed" class="form-control form-control-sm" aria-describedby="RedHelpBlock">
    </div>
    <div class="col2">
      <div class="seccion-colores">
        <h4>¡Estiliza tu pagina!</h4>
        <label for="exampleColorInput" class="form-label">Color de fondo</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#faf6de" title="Choose your color">
        <label for="exampleColorInput" class="form-label">Color Primario</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#9fd6d2" title="Choose your color">
        <label for="exampleColorInput" class="form-label">Color Secundario</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#d0ecea" title="Choose your color">
        <label for="exampleColorInput" class="form-label">Color Terciario</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#fbeec2" title="Choose your color">
        <label for="exampleColorInput" class="form-label">Color Cuaternario</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#8b7a5e" title="Choose your color">
      </div>
      <div class="fondo-foto">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">¿Quieres poner una imagen de banner?</label>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Selecciona tu banner</label>
            <input class="form-control form-control-sm" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly id="formFileSm" type="file">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>