<section>
  <div class="Proyectos">
    <h1>Tus proyectos</h1>
    <div class="Lista-proyectos">
      <div class="Proyecto-1">
        <img class="img-proy1" src="assets/IMG/Proy-port.jpg" alt="port-proy">
        <div class="text-proy1">
          <h6>Holas, soy un proyecto</h6>
          <p class="desc-proy1">Soy algo bueno</p>
        </div>
        <div class="btns-p">
          <div class="btn-edit">
            <button class="btn-edit" data-bs-toggle="modal" data-bs-target="#proy1Modal"><i class="fas fa-pen"></i></button>
            <div class="modal fade" id="proy1Modal" tabindex="-1" aria-labelledby="proy1ModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="proy1ModalLabel">Panel de edición - Proyecto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="formFileSm" class="form-label">Coloca una imagen del proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                    <label for="formFileSm" class="form-label">Nombra el proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <label for="formFileSm" class="form-label">Describe el proyecto el proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <label for="formFileSm" class="form-label">Coloca el link del proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">¿Quieres poner el link de GitHub? Colocalo</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="url" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-deleteproy1">
            <button class="btn-del"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="Proyecto-2">
        <img class="img-proy2" src="assets/IMG/Proy-port.jpg" alt="port-proy">
        <div class="text-proy2">
          <h6>Holas, soy un proyecto</h6>
          <p class="desc-proy2">Soy algo bueno</p>
        </div>
        <div class="btns-p">
          <div class="btn-edit">
            <button class="btn-edit" data-bs-toggle="modal" data-bs-target="#proy2Modal"><i class="fas fa-pen"></i></button>
            <div class="modal fade" id="proy2Modal" tabindex="-1" aria-labelledby="proy2ModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="proy2ModalLabel">Panel de edición - Proyecto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <label for="formFileSm" class="form-label">Coloca una imagen del proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                    <label for="formFileSm" class="form-label">Nombra el proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <label for="formFileSm" class="form-label">Describe el proyecto el proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <label for="formFileSm" class="form-label">Coloca el link del proyecto</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">¿Quieres poner el link de GitHub? Colocalo</label>
                    <div class="input-group input-group-sm mb-3">
                      <input type="url" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-deleteproy2">
            <button class="btn-del"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="Proyecto-3">
        <img class="img-proy3" src="assets/IMG/Proy-port.jpg" alt="port-proy">
        <div class="text-proy3">
          <h6>Holas, soy un proyecto</h6>
          <p class="desc-proy3">Soy algo bueno</p>
        </div>
          <div class="btns-p">
            <div class="btn-edit">
              <button class="btn-edit" data-bs-toggle="modal" data-bs-target="#proy3Modal"><i class="fas fa-pen"></i></button>
              <div class="modal fade" id="proy3Modal" tabindex="-1" aria-labelledby="proy3ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="proy3ModalLabel">Panel de edición - Proyecto</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label for="formFileSm" class="form-label">Coloca una imagen del proyecto</label>
                      <div class="input-group input-group-sm mb-3">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                      </div>
                      <label for="formFileSm" class="form-label">Nombra el proyecto</label>
                      <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <label for="formFileSm" class="form-label">Describe el proyecto el proyecto</label>
                      <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <label for="formFileSm" class="form-label">Coloca el link del proyecto</label>
                      <div class="input-group input-group-sm mb-3">
                        <input type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">¿Quieres poner el link de GitHub? Colocalo</label>
                      <div class="input-group input-group-sm mb-3">
                        <input type="url" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-primary">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-deleteproy3">
              <button class="btn-del"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
      </div>
    </div>
    <div class="extra-btn">
    <button class="btn-add" data-bs-toggle="modal" data-bs-target="#proyXModal">Agregar elemento</button>
    <div class="modal fade" id="proyXModal" tabindex="-1" aria-labelledby="proyXModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="proyXModalLabel">Panel de edición - Estudios</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="formFileSm" class="form-label">Selecciona el icono de tu Institución</label>
              <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
            <div class="mb-3">
              <label for="exampleInputNbIns" class="form-label">Nombre de la Institución</label>
              <input type="email" class="form-control" id="exampleInputNbIns">
            </div>
            <div class="mb-3">
              <label for="exampleInputQeIns" class="form-label">¿De qué es la Institución?</label>
              <input type="email" class="form-control" id="exampleInputQeIns">
            </div>
            <div class="mb-3">
              <label for="exampleInputdsIns" class="form-label">¿Qué aprendiste ahí?</label>
              <input type="email" class="form-control" id="exampleInputdsIns">
            </div>
            <div class="row g-2">
              <div class="col">
                <label for="fecha">Desde...</label>
                <input type="month" name="fecha" id="fecha" class="form-control" value="2019-08">
              </div>
              <div class="col">
                <label for="fecha">Hasta...</label>
                <input type="month" name="fecha" id="fecha" class="form-control" value="2019-08">
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" value="submit">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>