<section>
  <div class="edición-sobre-mi">
    <h2 class="Linea"><span class="Text-R">Edición de la sección "Sobre Mi"</span></h2>
    <div class="Quien-eres">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Describete</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
<app-estudios></app-estudios>
<app-experiencias></app-experiencias>
<app-habilidades2></app-habilidades2>
  </div>
</section>